.wrapper-1 {
  position: relative;
  margin-top: 8px;
  flex: 1 1 auto;
  display: block;
}

.wrapper-2 {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.container-epic {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 0px;
  flex: 0 0 auto;
}

.container-timeline {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 0px;
  overflow: hidden;
}

.epic-header {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: rgb(244, 245, 247);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208) rgb(223, 225, 230);
  border-image: initial;
  border-bottom: 1px solid rgb(223, 225, 230);
  flex: 0 0 auto;
  padding: 0px 16px 0px 24px;
  border-radius: 3px 0px 0px;
}

.epic-content {
  position: relative;
  flex-direction: column;
  display: flex;
  margin-left: -10px;
  flex: 1 1 auto;
  overflow: hidden;
}

.epic-content-flex {
  display: flex;
  overflow: hidden;
}

.epic-content-flex-item {
  width: 100%;
  overflow-y: auto;
  padding-right: 50px;
  flex: 0 0 auto;
}

.epic-content-flex-item-style {
  /* background-color: rgba(9, 30, 66, 0.25); */
  margin-left: 10px;
  border-left: 1px solid rgb(193, 199, 208);
  border-right: 1px solid rgb(193, 199, 208);
}

.epic-bottom-plus-box {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 100ms linear 0s;
  padding: 0px 8px;
}

.epic-bottom {
  margin-left: 10px;
  flex: 1 1 auto;
  border-left: 1px solid rgb(193, 199, 208);
  border-right: 1px solid rgb(193, 199, 208);
}

.timeline-header {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: rgb(244, 245, 247);
  border-width: 1px 1px;
  border-style: solid none solid solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208);
  border-image: initial;
  border-bottom: 1px solid rgb(223, 225, 230);
  border-right: none;
  overflow: hidden;
}

.timeline-header-1 {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
}

.timeline-header-2 {
  width: 9579.5px;
  display: flex;
  height: 54px;
}

.timeline-header-3 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
}

.timeline-header-cell {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  border-right: 1px solid rgb(223, 225, 230);
}

.timeline-header-text {
  margin-top: 0px;
  text-transform: uppercase;
  color: #707070;
  font-size: 12px;
  line-height: 1.33333333333333;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.timeline-content {
  position: absolute;
  top: 56px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.timeline-content-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: -17px;
  bottom: -17px;
  overflow: scroll;
  border-left: 1px solid rgb(193, 199, 208);
}

.timeline-content-2 {
  position: relative;
  min-height: 100%;
}

.timeline-content-row {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.timeline-content-cell {
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  flex: 0 0 auto;
  border-right: 1px solid rgb(223, 225, 230);
  display: block;
}

/* .box {
  border-radius: 3px;
  width: 400px;
  height: 24px;
  background: #8777D9;
  transform-origin: 50% 50%;
}

.box:hover {
  background: #6554C0;
} */

.header {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: rgb(244, 245, 247);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208) rgb(223, 225, 230);
  border-image: initial;
  border-bottom: 1px solid rgb(223, 225, 230);
  flex: 0 0 auto;
  padding: 0px 16px 0px 24px;
  border-radius: 3px 0px 0px;
}

/* .header-column-wrapper {
  display: flex;
  flex-direction: column;  
} */

.header-column {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 320px;
  min-height: 0px;
  flex: 0 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208) rgb(223, 225, 230);
  /* border-image: initial; */
  /* border-bottom: 1px solid rgb(223, 225, 230); */
  /* flex: 0 0 auto; */
  border-radius: 3px 0px 0px;
}

.row:hover {
  background-color: #DFE1E6;
}

.epic-icon {
  align-content: center
}

.epic-name {
  margin-left: 10px;
}

.header-cell {
  display: flex;
  flex: 1 1 320px;

}

.content-cell {
  flex: 1 1 auto;
}

