.feIyeE {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 24px;
  min-width: 3px;
  z-index: 3;
  visibility: visible;
  cursor: pointer;
  padding: 0px 5px;
  transition: left 0.1s ease 0s, right 0.1s ease 0s;
  border-radius: 3px;
  background: rgb(135, 119, 217)
}

.bcqBjl {
  color: currentColor;
  display: inline-block;
  fill: #FFFFFF;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1;
}



.jUAyze {
  position: relative;
  margin-top: 24px;
  flex: 1 1 auto;
}

.bVGEsC {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hDgjOI {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 0px;
  flex: 0 0 auto;
}

.LDeNe {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: rgb(244, 245, 247);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208) rgb(223, 225, 230);
  border-image: initial;
  border-bottom: 1px solid rgb(223, 225, 230);
  flex: 0 0 auto;
  padding: 0px 16px 0px 24px;
  border-radius: 3px 0px 0px;
}

.rncm {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
  overflow: hidden;
}

.eqQJjt {
  position: absolute;
  right: -3px;
  top: 0px;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.1s ease 0s;
}

.eqQJjt::after {
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 2px;
  height: 100%;
  display: block;
  content: " ";
  background: rgb(38, 132, 255);
}

.cNqgUs {
  position: relative;
  flex-direction: column;
  display: flex;
  margin-left: -10px;
  flex: 1 1 auto;
  overflow: hidden;
}

.fryQcz {
  width: 100%;
  overflow-y: auto;
  padding-right: 50px;
  flex: 0 0 auto;
}

.hoLpFJ {
  background-color: rgba(9, 30, 66, 0.25);
  margin-left: 10px;
  border-left: 1px solid rgb(193, 199, 208);
  border-right: 1px solid rgb(193, 199, 208);
}

.fgAcZb {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 100ms linear 0s;
}

.gBlnCF {
  position: absolute;
  top: -5px;
  left: -10px;
  right: 0px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
  outline: none;
}

.bTwOsv {
  position: relative;
  top: -5px;
  left: 0px;
  right: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.MYjxS {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
  padding-left: 24px;
  padding-right: 16px;
  overflow: hidden;
  outline: none;
  transition: box-shadow 0.2s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
}

.hHNvRV {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.ePowzo {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  border-radius: 3px;
}

/* .kzvagL {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0px 0px 8px;
  overflow: hidden;
} */

.fpLLUJ {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 100ms linear 0s;
  padding: 0px 8px;
}

.akHwS {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 24px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.dqqHMN {
  height: 16px;
  width: 16px;
  color: currentColor;
  display: inline-block;
  fill: #FFFFFF;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  line-height: 1;
}

.hfPzIv {
  height: 1px;
  background-color: rgb(193, 199, 208);
}

.fFEVEI {
  margin-left: 10px;
  flex: 1 1 auto;
  border-left: 1px solid rgb(193, 199, 208);
  border-right: 1px solid rgb(193, 199, 208);
}

.cPRRFk {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 0px;
  overflow: hidden;
}

.dkFNrj {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: rgb(244, 245, 247);
  border-width: 1px 1px;
  border-style: solid none solid solid;
  border-color: rgb(193, 199, 208) rgb(193, 199, 208);
  -webkit-border-image: none;
  border-image: none;
  -webkit-border-image: initial;
  border-image: initial;
  border-bottom: 1px solid rgb(223, 225, 230);
  border-right: none;
  overflow: hidden;
}

/* .wWWya {
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
} */

.hTdzhs {
  display: flex;
  height: 54px;
}

.cZzQw {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .rWwYB {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  border-right: 1px solid rgb(223, 225, 230);
} */

.dRfJrE {
  margin-top: 0px;
  text-transform: uppercase;
}

small {
  color: #707070;
  font-size: 12px;
  line-height: 1.33333333333333;
}

.fsrySA {
  position: absolute;
  top: 56px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.rifCR {
  position: absolute;
  top: 0px;
  left: 0px;
  right: -17px;
  bottom: -17px;
  overflow: auto;
  /* white-space: nowrap; */
  border-left: 1px solid rgb(193, 199, 208);
}

.kdpnGG {
  position: relative;
  min-height: 100%;
}

.iMnhyT {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* .inHpzx {
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  flex: 0 0 auto;
  border-right: 1px solid rgb(223, 225, 230);
} */

.fWSXz {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.laChM {
  background-color: rgba(9, 30, 66, 0.25);
}

.hQBlfE {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms linear 0s;
  overflow: hidden;
}


.feIyeE:hover .esCmBo {
  visibility: visible;
}

.feIyeE:hover .kiQuXo {
  visibility: visible;
}

.esCmBo {
  visibility: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  cursor: col-resize;
  padding: 4px;
}

.kiQuXo {
  visibility: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  cursor: col-resize;
  padding: 4px;
}

.chhxgO {
  width: 6px;
  height: 16px;
  background-color: rgb(64, 50, 148);
  border-radius: 3px;
}

.bIZLLn {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background-color: rgb(255, 255, 255);
  transition: background-color 100ms linear 0s;
}

.hfPzIv {
  height: 1px;
  background-color: rgb(193, 199, 208);
}

.idQEUl {
  position: absolute;
  visibility: visible;
  z-index: 9;
  right: 7px;
  left: 7px;
  height: 10px;
  bottom: 0px;
  border-radius: 10px;
}

.hFbkGU {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 39px;
  border-radius: 10px;
}

.gWouFt {
  position: absolute;
  visibility: hidden;
  z-index: 9;
  top: 7px;
  bottom: 7px;
  width: 10px;
  right: 0px;
  border-radius: 10px;
}

.iXyYRM {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 99px;
  border-radius: 10px;
}

.fDEAOq {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 56px;
  width: 100%;
  height: calc(100% - 56px);
  z-index: 11;
}

.cvTvEa {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 11;
  clip: rect(0px, auto, auto, 0px);
  clip-path: inset(0px);
}

.FjLAd {
  position: fixed;
  pointer-events: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.jMrzDz {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

.grZjms {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 101, 255);
}

.eaYLQY {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

.hKwvKb {
  position: relative;
  top: -5px;
  left: 0px;
  height: 20px;
  width: calc(100% + 10px);
  cursor: pointer;
}

.kkkFIk {
  position: relative;
  top: 9px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 101, 255);
  opacity: 0;
  animation-name: eMLfYp;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.cpqXQZ {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 101, 255);
  color: rgb(255, 255, 255);
  opacity: 0;
  animation-name: eMLfYp;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  border-radius: 3px;
}

.bIeuYl {
  height: 24px;
  width: 24px;
  position: relative;
  margin-left: -2px;
  margin-top: -2px;
}

