<div class="sc-cBuonZ bPeMIi">
  <div class="default">
    <div class="sc-jugKki bjoXME">
      <div class="sc-eFLDUo kURKFf" width="320" data-test-id="roadmap.common.components.table.components.list.container"
        style="width: 320px;">
        <div class="sc-dOrFnT ctoqxy">
          <p class="sc-ggvmJr fHgIff">Epic</p>
          <div class="sc-khZGgf jXPuS"></div>
        </div>
        <div class="sc-kyaqdZ imOvJy">
          <div style="display: flex; overflow: hidden;">
            <div class="sc-dJjWor cDCSOY"
              data-test-id="roadmap.common.components.table.components.list.hidden-scrollbar">
              <div class="sc-eiYOqq jasNQ" width="318" style="width: 318px;">
                <div>
                  <div class="row-10012 sc-dSymMc esRtuW"
                    data-test-id="roadmap.common.components.table.components.list-item.base.container" draggable="true">
                    <div class="sc-kZoWzZ kTbXjd"
                      data-test-id="roadmap.common.components.table.components.list-item.base.content-container-0"
                      tabindex="0">
                      <div class="sc-jMhDex fASFwh">
                        <img class="sc-fpmFVC gpqgMF"
                          src="https://solarsystem.atlassian.net/secure/viewavatar?size=medium&amp;avatarId=10307&amp;avatarType=issuetype"
                          alt="Epic issue type">
                        <p class="sc-iDkADQ kkuzNO">Hello World 1.0!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10024 sc-dSymMc lhpmte"
                    data-test-id="roadmap.common.components.table.components.list-item.base.container" draggable="true">
                    <div class="sc-fiBOuc gBlnCF"
                      data-test-id="roadmap.common.components.table.components.list-item.base.inline-create-button-1"
                      role="button" aria-label="Inline issue create" tabindex="0">
                      <div class="sc-fKPMAj bTwOsv"></div>
                    </div>
                    <div class="sc-kZoWzZ kTbXjd"
                      data-test-id="roadmap.common.components.table.components.list-item.base.content-container-1"
                      tabindex="0">
                      <div class="sc-jMhDex fASFwh"><img class="sc-fpmFVC gpqgMF"
                          src="https://solarsystem.atlassian.net/secure/viewavatar?size=medium&amp;avatarId=10307&amp;avatarType=issuetype"
                          alt="Epic issue type">
                        <p class="sc-iDkADQ kkuzNO">Ability Branding</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10025 sc-dSymMc esRtuW"
                    data-test-id="roadmap.common.components.table.components.list-item.base.container" draggable="true">
                    <div class="sc-fiBOuc gBlnCF"
                      data-test-id="roadmap.common.components.table.components.list-item.base.inline-create-button-2"
                      role="button" aria-label="Inline issue create" tabindex="0">
                      <div class="sc-fKPMAj bTwOsv"></div>
                    </div>
                    <div class="sc-kZoWzZ kTbXjd"
                      data-test-id="roadmap.common.components.table.components.list-item.base.content-container-2"
                      tabindex="0">
                      <div class="sc-jMhDex fASFwh"><img class="sc-fpmFVC gpqgMF"
                          src="https://solarsystem.atlassian.net/secure/viewavatar?size=medium&amp;avatarId=10307&amp;avatarType=issuetype"
                          alt="Epic issue type">
                        <p class="sc-iDkADQ kkuzNO">FTUX</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10028 sc-dSymMc lhpmte"
                    data-test-id="roadmap.common.components.table.components.list-item.base.container" draggable="true">
                    <div class="sc-fiBOuc gBlnCF"
                      data-test-id="roadmap.common.components.table.components.list-item.base.inline-create-button-3"
                      role="button" aria-label="Inline issue create" tabindex="0">
                      <div class="sc-fKPMAj bTwOsv"></div>
                    </div>
                    <div class="sc-kZoWzZ kTbXjd"
                      data-test-id="roadmap.common.components.table.components.list-item.base.content-container-3"
                      tabindex="0">
                      <div class="sc-jMhDex fASFwh"><img class="sc-fpmFVC gpqgMF"
                          src="https://solarsystem.atlassian.net/secure/viewavatar?size=medium&amp;avatarId=10307&amp;avatarType=issuetype"
                          alt="Epic issue type">
                        <p class="sc-iDkADQ kkuzNO">Improvements</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sc-gklePk iUBGNS">
                  <div class="sc-eNaZKA bHEswo"
                    data-test-id="roadmap.common.components.table.components.list.items.create-item.button"
                    role="button" aria-label="Create issue last" tabindex="0"><span
                      class="Icon__IconWrapper-dyhwwi-0 dqqHMN" aria-label=""><svg width="24" height="24"
                        viewBox="0 0 24 24" focusable="false" role="presentation">
                        <path
                          d="M13 11V3.993A.997.997 0 0 0 12 3c-.556 0-1 .445-1 .993V11H3.993A.997.997 0 0 0 3 12c0 .557.445 1 .993 1H11v7.007c0 .548.448.993 1 .993.556 0 1-.445 1-.993V13h7.007A.997.997 0 0 0 21 12c0-.556-.445-1-.993-1H13z"
                          fill="currentColor" fill-rule="evenodd"></path>
                      </svg></span></div>
                </div>
                <div class="sc-MJoYu byNQuI"></div>
              </div>
            </div>
          </div>
          <div class="sc-eweNpc hUXvba" width="318" style="width: 318px;"></div>
        </div>
      </div>
      <div class="sc-jGVZLC cylita">
        <div class="sc-jHoRkZ gELshw">
          <div class="sc-kBmGgb fWofKa">
            <div class="sc-kLipck kfYAUq" width="9579.499999901622" style="width: 9579.5px;">
              <div class="sc-gSvJLs gAWrNG">
                <div class="sc-iOFEvF girtPL" style="left: 0%; right: 97.25%;"><small class="sc-fzPEav dluxNk">Aug
                    '18</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 2.75%; right: 94.59%;"><small class="sc-fzPEav dluxNk">Sep
                    '18</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 5.41%; right: 91.84%;"><small class="sc-fzPEav dluxNk">Oct
                    '18</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 8.16%; right: 89.17%;"><small class="sc-fzPEav dluxNk">Nov
                    '18</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 10.83%; right: 86.42%;"><small class="sc-fzPEav dluxNk">Dec
                    '18</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 13.58%; right: 83.67%;"><small class="sc-fzPEav dluxNk">Jan
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 16.33%; right: 81.19%;"><small class="sc-fzPEav dluxNk">Feb
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 18.81%; right: 78.44%;"><small class="sc-fzPEav dluxNk">Mar
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 21.56%; right: 75.78%;"><small class="sc-fzPEav dluxNk">Apr
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 24.22%; right: 73.03%;"><small class="sc-fzPEav dluxNk">May
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 26.97%; right: 70.36%;"><small class="sc-fzPEav dluxNk">Jun
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 29.64%; right: 67.61%;"><small class="sc-fzPEav dluxNk">Jul
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 32.39%; right: 64.86%;"><small class="sc-fzPEav dluxNk">Aug
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 35.14%; right: 62.2%;"><small class="sc-fzPEav dluxNk">Sep
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 37.8%; right: 59.45%;"><small class="sc-fzPEav dluxNk">Oct
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 40.55%; right: 56.79%;"><small class="sc-fzPEav dluxNk">Nov
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 43.21%; right: 54.04%;"><small class="sc-fzPEav dluxNk">Dec
                  </small></div>
                <div class="sc-iOFEvF girtPL" style="left: 45.96%; right: 51.29%;"><small class="sc-fzPEav dluxNk">Jan
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 48.71%; right: 48.71%;"><small class="sc-fzPEav dluxNk">Feb
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 51.29%; right: 45.96%;"><small class="sc-fzPEav dluxNk">Mar
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 54.04%; right: 43.3%;"><small class="sc-fzPEav dluxNk">Apr
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 56.7%; right: 40.55%;"><small class="sc-fzPEav dluxNk">May
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 59.45%; right: 37.89%;"><small class="sc-fzPEav dluxNk">Jun
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 62.11%; right: 35.14%;"><small class="sc-fzPEav dluxNk">Jul
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 64.86%; right: 32.39%;"><small class="sc-fzPEav dluxNk">Aug
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 67.61%; right: 29.72%;"><small class="sc-fzPEav dluxNk">Sep
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 70.28%; right: 26.97%;"><small class="sc-fzPEav dluxNk">Oct
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 73.03%; right: 24.31%;"><small class="sc-fzPEav dluxNk">Nov
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 75.69%; right: 21.56%;"><small class="sc-fzPEav dluxNk">Dec
                    '20</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 78.44%; right: 18.81%;"><small class="sc-fzPEav dluxNk">Jan
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 81.19%; right: 16.33%;"><small class="sc-fzPEav dluxNk">Feb
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 83.67%; right: 13.58%;"><small class="sc-fzPEav dluxNk">Mar
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 86.42%; right: 10.91%;"><small class="sc-fzPEav dluxNk">Apr
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 89.09%; right: 8.16%;"><small class="sc-fzPEav dluxNk">May
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 91.84%; right: 5.5%;"><small class="sc-fzPEav dluxNk">Jun
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 94.5%; right: 2.75%;"><small class="sc-fzPEav dluxNk">Jul
                    '21</small></div>
                <div class="sc-iOFEvF girtPL" style="left: 97.25%; right: 0%;"><small class="sc-fzPEav dluxNk">Aug
                    '21</small></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-ceWgGA jILohx">
          <div class="sc-gXdpqj yeDlF" id="sr-timeline">
            <div class="sc-gVTGy fwBQvx" width="9579.499999901622" style="width: 9579.5px;">
              <div class="sc-epVfoS lgrLWK">
                <div class="sc-fcEqdq kQiDPD" style="left: 0%; right: 97.25%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 2.75%; right: 94.59%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 5.41%; right: 91.84%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 8.16%; right: 89.17%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 10.83%; right: 86.42%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 13.58%; right: 83.67%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 16.33%; right: 81.19%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 18.81%; right: 78.44%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 21.56%; right: 75.78%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 24.22%; right: 73.03%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 26.97%; right: 70.36%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 29.64%; right: 67.61%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 32.39%; right: 64.86%;">
                  <div class="sc-fzmwXB fmyjHu"></div>
                </div>
                <div class="sc-fcEqdq kQiDPD" style="left: 35.14%; right: 62.2%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 37.8%; right: 59.45%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 40.55%; right: 56.79%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 43.21%; right: 54.04%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 45.96%; right: 51.29%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 48.71%; right: 48.71%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 51.29%; right: 45.96%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 54.04%; right: 43.3%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 56.7%; right: 40.55%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 59.45%; right: 37.89%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 62.11%; right: 35.14%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 64.86%; right: 32.39%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 67.61%; right: 29.72%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 70.28%; right: 26.97%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 73.03%; right: 24.31%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 75.69%; right: 21.56%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 78.44%; right: 18.81%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 81.19%; right: 16.33%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 83.67%; right: 13.58%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 86.42%; right: 10.91%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 89.09%; right: 8.16%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 91.84%; right: 5.5%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 94.5%; right: 2.75%;"></div>
                <div class="sc-fcEqdq kQiDPD" style="left: 97.25%; right: 0%;"></div>
              </div>
              <div class="sc-jYDwjg hpKHDZ"></div>
              <div class="sc-ksemRE hTqYYG">
                <div>
                  <div class="row-10012 sc-dyROcR hkMoCz">
                    <div class="sc-fEdkGK cwTDGF" style="left: 35.1375%; right: 56.7879%;" draggable="true">
                      <div class="sc-jojxEB brgala" orientation="left">
                        <div class="sc-jWvBVO imeAQN"></div>
                      </div>
                      <div class="sc-jojxEB fMWLKn" orientation="right">
                        <div class="sc-jWvBVO imeAQN"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10024 sc-dyROcR foAaRo">
                    <div class="sc-fEdkGK cFTBcX" style="left: 28.8376%; right: 63.6202%;" draggable="true">
                      <div class="sc-jojxEB brgala" orientation="left">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                      <div class="sc-jojxEB fMWLKn" orientation="right">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10025 sc-dyROcR hkMoCz">
                    <div class="sc-fEdkGK cFTBcX" style="left: 35.1375%; right: 62.1118%;" draggable="true">
                      <div class="sc-jojxEB brgala" orientation="left">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                      <div class="sc-jojxEB fMWLKn" orientation="right">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row-10028 sc-dyROcR foAaRo">
                    <div class="sc-fEdkGK cFTBcX" style="left: 33.0967%; right: 64.1526%;" draggable="true">
                      <div class="sc-jojxEB brgala" orientation="left">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                      <div class="sc-jojxEB fMWLKn" orientation="right">
                        <div class="sc-jWvBVO byiBXN"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sc-fSuQnN gBYbuM"></div>
                <div class="sc-MJoYu byNQuI"></div>
              </div>
              <div class="sc-eBOlBG iRioMo" style="left: 3164.25px;">
                <div>
                  <div class="sc-fPkWUF kQqCsV"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sc-hjOyJo gXdYzQ">
            <div class="sc-dPgCzP jqShyr" size="38" style="transform: translateX(168.092px);"></div>
          </div>
          <div class="sc-bhpWTB leqSvm">
            <div class="sc-cQrVjg iwbsVn" size="185" style="transform: translateY(0px);"></div>
          </div>
        </div>
        <div class="sc-cDXbny hOuZWh"></div>
        <div class="sc-dZBaVi kPUIYk"></div>
      </div>
      <div class="sc-hluXwN bgWCeR"></div>
      <div class="inline-drag-indicator inline-drag-indicator-top sc-clPWjW hdZoqf">
        <div class="sc-cdVZiX joBMyd"></div>
      </div>
      <div class="inline-create-button sc-gRpsAJ elqwst">
        <div class="sc-keWRaR kewGaG">
          <div class="sc-dDomsY iOJMUE"></div>
          <div class="sc-kAGKVC kEwVcx">
            <div class="sc-eOmEsm kOwMOG"><span class="Icon__IconWrapper-dyhwwi-0 bcqBjl"
                aria-label="What needs to be done?"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false"
                  role="presentation">
                  <path d="M13 11V7a1 1 0 0 0-2 0v4H7a1 1 0 0 0 0 2h4v4a1 1 0 0 0 2 0v-4h4a1 1 0 0 0 0-2h-4z"
                    fill="currentColor" fill-rule="evenodd"></path>
                </svg></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
